.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  width: 100vw;
  min-height: 10vh;
  background: linear-gradient(
    to right,
    var(--basecolor),
    var(--primarycolor),
    var(--secondarycolor)
  );
}
.navcontainer .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.navcontainer .icon img {
  border-radius: 50%;
  width: 2.5rem;
}
.navcontainer .icon p {
  font-size: 2rem;
  color: #ffffff;
  font-family: "New Amsterdam", sans-serif;
  text-shadow: 1px 1px var(--contrast);
}
.navcontainer .menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: var(--basecolor);
  font-family: "Varela", sans-serif;
}
.navcontainer .menu ul li {
  transition: all 0.5s;
}
.navcontainer .menu ul li:hover {
  color: var(--contrast);
}
